@charset "UTF-8";
a {
    text-decoration: none;
}
body {
	margin: 0;
}
form {
   margin: 0 auto;
}
table {
	margin: 0 auto;
	width: 30%;
	border: 1px solid black;
	border-collapse:collapse;
    border-spacing:0;
}
td {	
    padding:1em 0.5em;
}
.noDisplay{
	display: none !important;
}
.noBorder{
	border: none !important;
	padding: 0px !important;
}

.trGreen {
	background-color: #63D297;
    border-right:1px solid black;
    border-left:1px solid black;
}
.rightAlign {
    text-align: right;
    padding-right: 2px !important;
}
.leftAlign {
    text-align: left;
    padding-left: 2px !important;
}
.pagination table, td {
	border: none;
	width: auto;
}
.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	border: 0.5px solid #000000;
}
.pagination a.hover {
	transition: #006400 0.3s;
}
.pagination a.active {
	background-color: #006400;
	color: #ffffff;
}
.centerAlign {
    text-align: center;
}
.btn {
    display:block;
    width: 115px;
    background: #4E9CAF; 
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    font-weight:bold;
}
.addBtn {
    background-color: #4E9CAF; 
}
.deleteBtn{
	background-color: #d00011;
	color: #ffffff;
}
.refreshBtn{
	background-color: #ffff99;
	color: #5d0000;
}
.btnCenter {
    margin:0px auto;
}
.alert {
    color: #d00011;
}
.addTable {
    background-color: #C283F6;
}
.updateTable {
    background-color: #F7CB4D;
}
.navbar {
    position:relative;
    top: 0;
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}
.navpill
{
	float: left;
}
.navlink 
{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;  
}
.navlink:hover 
{
    background-color: darkgreen;
}
.active 
{
    background-color: darkgreen;
}
.btnLink{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  font-family:inherit;
  font-size:inherit;
}
